<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="in.mbtions.di.beans.Address" id="addrId1">
		<property name="hno" value="263"/>
		<property name="city" value="Muradnagar"/>
		<property name="pincode" value="201206"/>
	</bean>

    <bean class="in.mbtions.di.beans.Student" id="stdId1">
    	<property name="name" value="Meenakshi" />
    	<property name="rollno" value="105"/>
    	<property name="address" ref="addrId1"/>
    </bean>

</beans>